.myform-container {
  background-color: #E5F6FF;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myform-fieldset {
  background-color: #FFF;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 20px;
  margin: 30px auto;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myform-legend {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.myform-table {
  width: 100%;
  border-collapse: collapse;
}

.myform-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.myform-label {
  font-weight: bold;
  flex: 0 0 200px; /* Adjust the width of the label */
  margin-right: 20px; /* Space between label and input */
}

.myform-select {
  flex: 1; /* Make the input take up the remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.myform-inputc {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.myform-unit-select {
  width: 70px;
  margin-left: 10px;
}

.myform-new-entry {
  margin-top: 10px;
}

.myform-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 100px;
}

.myform-button-cell {
  padding: 10px;
  text-align: right;
}

.myform-button {
  padding: 5px 10px; /* Smaller button padding */
  border: none;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  border-radius: 4px;
}

.btn-save {
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
}

.btn-cancel {
  background-color: #6c757d;
  color: #fff;
}

.myform-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.table-bordered {
  width: 100%;
  border-collapse: collapse;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #ddd;
  padding: 8px;
}

.pt-2 {
  padding-top: 10px;
}

.float-start {
  float: left;
}

.pe-3 {
  padding-right: 1rem;
}

.text-open {
  color: #007bff;
}

.fill-azure-blue {
  fill: #007bff;
}

.align-middle {
  vertical-align: middle;
}

.myform-add-row-button {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #007bff;
  color: #007bff;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.myform-add-row-button svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.myform-add-row-button span {
  font-size: 14px;
}

.myform-button-save {
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
}

.myform-button-cancel {
  background-color: #6c757d;
  color: #fff;
}
